* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.a {
  border-radius: 28px;
  padding: 8px;
  background: black;
}

header {
  padding: 5px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 25px;
}

body {
  background-color: #505050;
}


#wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding: 3px;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}

form input {
  margin: 0.5%;
}

form input[type="submit"] {
  width: 15%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

form input[type="text"] {
  border: 1px solid black;
  padding: 10px;
  width: 85%;
  background: white;
}

.container {
  display: flex;
}

.container-box {
  border: 3px solid green;
  margin: 1%;
  flex: 1;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

#nameInputBox {
  background-color: green;
}

#nameInputBox button {
  padding: 5px;
  width: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

#nameInputBox #startGame {
  margin-left: auto;
  margin-right: 5px;
  padding: 5px;
}

#nameInputBox input {
  padding: 1%;
  width: 40%;
  margin: 1%;
}

#chatBox {
  background-color: grey;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

footer {
  padding: 5px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 15px;
}